__pycache__/
/.idea/
/.vscode/
/logs/
!/logs/.gitkeep
tmp/
/data/output/*
!/data/output/.gitkeep
/data/evaluation/*
!/data/evaluation/.gitkeep
/data/trajectory/*
!/data/trajectory/.gitkeep
/data/statistics/*
!/data/statistics/.gitkeep
trajectories.out.xml
e2*.xml
*.exe